{extends './@email.latte'}

{block #content}
<a href="{plink //Sign:renew}/?token={$data->token}">Odkaz na vytvoření nového hesla</a>
<br/><br/>
Odkaz je platný do: {$data->valid_to|date:'d.m.Y H:i:s'}
{/block}
