<div id="loginbox" class="recover">
    {form form}
		<p>{_'Zadejte Vaše přihlašovací jméno.'}</p>
        <div class="input-group input-sm">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>{input username class => "form-control", id => "username"}
        </div>
		<div class="form-actions clearfix">
			{input submit class => "btn btn-block btn-primary"}
		</div>
    {/form}
</div>
