<script type="text/javascript" src="/adminwww/lib/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

{control jsAdmin 'adminwww/lib/app/TinyMCE/SimpleMceEdit.js' }

<script type="text/javascript" >
	simpleMceEdit.SetupTinyMCE();
</script>
