{extends ../../../Repre/templates/blocks/editNavigation.latte}

{define #editNavigation}
	{include #parent entityId => NULL, items => ['default' => 'Nástěnka', 'manager' => 'Správce nástěnky']}
{/define}
